@font-face {
  font-family: "hfonts";
  src: url(../fonts/BowlbyOne-Regular.ttf) format("opentype");
}
@font-face {
  font-family: "signfont";
  src: url(../fonts/Nunito-Italic-VariableFont_wght.ttf);
}

.header-first-line {
  background-color: black;
  color: gray;
  padding: 10px;
  text-align: center;
  letter-spacing: 5px;
}

.header-second-line {
  display: flex;
  justify-content: space-between;
}

.shop-name {
  font-family: "hfonts";
  letter-spacing: 2px;
  font-size: clamp(20px, 2vw, 50px);
}
.sign-log {
  display: flex;
  gap: 10px;
  font-family: "signfont";
  align-items: center;
}

.sign-log a {
  color: rgb(26, 31, 31);
  padding: 10px;
}
.sign-log a:hover {
  background-color: white;
  border-radius: 10px;
}

.search-bar {
  width: clamp(300px, 2vw, 100px);
  border-radius: 20px;
  border: 1px solid black;
  padding-left: 20px;
  height: 40px;
}

header {
  background-color: rgb(238, 235, 235);
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

#search-icon {
  transform: translateX(-50px);
}

#store {
  color: #534ab7;
}

.logout{
  display: none;
}