@font-face {
  font-family: "signfont";
  src: url(../fonts/Nunito-Italic-VariableFont_wght.ttf);
}

.products {
  padding-top: 200px;
}
.fa-star {
  color: rgb(254, 212, 0);
  cursor: pointer;
  font-size: 15px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  row-gap: 20px;
  gap: 20px;
  background-color: rgb(238, 235, 235);
  padding: 15px;
  border-radius: 10px;
}

.product {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  height: 300px;
  border-radius: 10px;
  background-color: white;
}

.product img {
  width: 100%;
  height: 60%;
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.price {
  display: flex;
  gap: 8px;
  font-family: "signfont";
}

.rating {
  display: flex;
  gap: 10px;
}

.before-discount {
  text-decoration: line-through;
  color: rgb(188, 181, 181);
}

.discount-persentage {
  border: 1px solid red;
  color: red;
  padding: 2px 5px;
  border-radius: 5px;
}

.title {
  font-family: "signfont";
  font-size: clamp(20px, 1vw, 30px);
}

.category {
  display: flex;
  font-family: "signfont";
  font-size: 16px;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
}
.category img {
  width: 20px;
  height: 20px;
}

.main-class {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  margin-left: 5%;
  margin-right: 5%;
}

.side-bar {
  background-color: rgb(238, 235, 235);
  padding: 20px;
  border-radius: 10px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 55px;
}

.side-bar-h {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "signfont";
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
}
.side-bar-categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.noUi-target {
  margin-top: 30px;
  height: 10px;
  background: white;
}

.noUi-connect {
  background: rgb(76, 76, 135);
}

.noUi-handle {
  width: 18px !important;
  height: 18px !important;
  border-radius: 50%;
  background: white;
  border: 1px solid black;
  cursor: pointer;
}

.noUi-handle::before,
.noUi-handle::after {
  display: none;
}

.prices {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  color: rgb(49, 43, 43);
}

.pagination p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "signfont";
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.selected-index{
    background-color: rgb(185, 179, 179);
}